# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
.DS_Store
*.egg-info/
.installed.cfg
*.egg
docs/service_account.json

# Virtual environments
venv/
ENV/
.env

data/.DS_Store
data/cache/

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/figures/*
!data/figures/.gitkeep
data/drug_cache.sqlite

# Logs
*.log

# IDE
.idea/
.vscode/
*.swp

# Release
release/*
!release/.gitkeep


# Jupyter
.ipynb_checkpoints
*.ipynb 